/* ====================== General */

body {
  background-color: #ffffff;
  font-family: "IBM Plex Mono", monospace;
}

body.error-404 {
  background-color: #ffffff;
}

#content {
  margin-top: 3rem;
}

.table th,
td {
  text-align: center;
}

thead {
  background-color: rgb(232, 231, 253);
  color: #0f064b;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(232, 231, 253);
}

.form-control {
  margin-bottom: 20px;
}

.form-wrapper {
  border-style: solid;
  border-color: rgb(232, 231, 253);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgb(247, 244, 255) 0px 5px 10px 5px;
  padding: 25px 25px 25px 25px;
}

.btn {
  border-radius: 2px;
  background-color: rgb(243, 243, 254);
  border-color: #0f064b;
  color: #0f064b;
}
.btn:disabled {
  border-radius: 2px;
  background-color: rgb(243, 243, 254);
  border-color: rgb(232, 231, 253);
  color: rgb(232, 231, 253);
}

.btn:disabled:hover {
  background-color: rgb(243, 243, 254);
  color: rgb(232, 231, 253);
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(114, 124, 255);
  color: #ffffff;
}

/* ======================= Nav */

.navbar {
  background-color: #0f064b;
  height: 60px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  margin: 0rem 0.5rem 0rem 0.5rem;
}

.navbar a:hover {
  color: rgb(16, 186, 151);
  text-decoration: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 20px;
  border-radius: 2px;
}

.nav > li > a > img {
  width: 32px;
  border-radius: 32px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

/* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

.onboarding > .navbar {
  background-image: url("/static/images/nav-bg.png");
  background-size: 100% 100%;
}

.onboarding .navbar-header {
  margin: 0 auto;
}

.onboarding .navbar-brand {
  margin: 0;
}

.onboarding .navbar-brand span {
  display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
  position: absolute;
  right: 16px;
}

.onboarding > .navbar a {
  color: #fff;
}

.onboarding > .navbar form.navbar-form {
  display: none;
}

.onboarding {
  background-color: #fff;
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none;
  }
}

nav + .container {
  margin-bottom: 1rem;
}

/* ========================== Signup/Login */

#user_form input.form-control {
  font-size: 16px;
  padding: 10px;
}

/* ========================== Dashboard */

#portfolio-table-wrapper {
  border-style: solid;
  border-color: rgb(232, 231, 253);
  border-radius: 5px;
  border-width: 1px;
  padding: 25px 25px 25px 25px;
  box-shadow: rgb(247, 244, 255) 0px 5px 10px 5px;
}

#portfolio-card-buttons {
  margin-top: 3rem;
}

#pie-chart-total-balance {
  text-transform: uppercase;
  color: #0f064b;
  margin: auto;
  padding: 1rem 1rem 1rem 1rem;
  font-weight: bold;
  background-color: rgb(243, 243, 254);
  text-align: center;
}

.portfolio-card {
  margin-right: 5rem;
  border-style: solid;
  border-color: rgb(232, 231, 253);
  border-radius: 5px;
  border-width: 1px;
  padding: 25px 25px 25px 25px;
  height: 30rem;
  box-shadow: rgb(247, 244, 255) 0px 5px 10px 5px;
}

.portfolio-table-row {
  cursor: pointer;
}

.td-input {
  width: 33%;
  margin: 0px 0px 0px 0px;
}

.portfolio-pct-input {
  margin: auto;
  width: 50%;
}

.portfolio-card-btn {
  width: 33%;
  margin: 0.5rem;
}

#portfolio-pct-total {
  color: rgb(16, 186, 151);
}

.fas.fa-caret-up,
.fas.fa-caret-down {
  font-size: 1.3rem;
  cursor: pointer;
}

.fas.fa-caret-up {
  color: #0f064b;
}

.fas.fa-caret-down {
  color: rgb(16, 186, 151);
}

.invalid-sum {
  color: rgb(185, 52, 52);
}
