<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CFinance</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Karla&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />
    <link rel="stylesheet" href="/static/app.css" />
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <div class="navbar-header">
          {% if g.user %}
          <a href="/users/{{g.user.id}}/dashboard" class="navbar-brand">
            <span>CFinance</span>
          </a>
          {% else %}
          <a href="/" class="navbar-brand">
            <span>CFinance</span>
          </a>
          {% endif %}
        </div>

        <ul class="nav navbar-nav navbar-right">
          {% if not g.user %}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Log in</a></li>
          {% else %}
          <li><a href="/users/{{g.user.id}}/rebalance">Rebalance</a></li>
          <li><a href="/users/{{g.user.id}}/trade">Trade</a></li>
          <li><a href="/users/{{g.user.id}}/deposit">Deposit</a></li>
          <li><a href="/logout">Log out</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container" id="content">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/app.js"></script>
  </body>
</html>
