{% extends 'base.html' %} {% block content %}
<div class="home-user form-wrapper">
  <h3 class="text-center">
    Sign up with your

    <a href="https://pro.coinbase.com/profile/api" alt="Create Your API Key"
      >Coinbase Pro API Key</a
    >
  </h3>
  <h6 class="text-center">
    Free automated cryptocurrency investing tool and portfolio visualizer
  </h6>
  <br />
  <p class="text-center">
    For more info on creating an API key on Coinbase Pro
    <a href="/info">click here</a>
  </p>
  <div id="home-buttons" class="d-flex justify-content-center">
    <a href="/signup" class="btn btn-primary mx-2">Sign up</a>
    <a href="/login" class="btn btn-primary mx-2">Login</a>
  </div>
</div>
{% endblock %}
