{% extends 'base.html' %} {% block content %}
<div class="home-user form-wrapper">
  <h1 class="text-center mt-3">
    Capture your crypto gains in seconds
  </h1>
  <h5 class="text-center mt-3">
    Sign up with a

    <a href="https://pro.coinbase.com/profile/api" alt="Create Your API Key"
      >Coinbase Pro API Key</a
    >
    and rebalance your portfolio instantly
  </h5>
  <br />
  <p class="text-center">
    For more info on creating an API key on Coinbase Pro
    <a href="/info">click here</a>
  </p>
  <div id="home-button-wrapper" class="d-flex justify-content-center">
    <a href="/signup" class="btn btn-primary mx-2 home-button">Sign up</a>
    <a href="/login" class="btn btn-primary mx-2 home-button">Login</a>
    <a href="/demo" class="btn btn-primary mx-2 demo-button">Demo Mode</a>
  </div>
</div>
{% endblock %}
