{% extends 'base.html' %} {% block content %}
<div class="row" id="dashboard">
  <div class="col-4 col-md-4 portfolio-card">
    <div class="" id="portfolio-pie-chart-wrapper">
      <canvas id="portfolio-pie-chart" width="30" height="30"></canvas>
    </div>
    <div
      class="portfolio-card-row d-flex justify-content-center"
      id="portfolio-card-buttons"
    >
      <a
        href="{{url_for('trade', user_id=user.id)}}"
        class="btn btn-primary btn-md portfolio-card-btn"
        >Trade</a
      >
      <a
        href="{{url_for('rebalance', user_id=user.id)}}"
        class="btn btn-primary btn-md portfolio-card-btn"
        >Rebalance</a
      >
      <a
        href="{{url_for('deposit', user_id=user.id)}}"
        class="btn btn-primary btn-md portfolio-card-btn"
        >Deposit</a
      >
    </div>
  </div>
  <div class="col" id="portfolio-table-wrapper">
    <table class="table table-hover mt-3" id="portfolio-table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Asset</th>
          <th scope="col">Balance Native</th>
          <th scope="col">Balance USD</th>
        </tr>
      </thead>
      <tbody>
        {% for account in user.accounts|sort(reverse=True,
        attribute="balance_usd") %} {% if account.balance_usd > 0 %}
        <tr class="portfolio-table-row" id="{{account.currency}}">
          {% set image = account.currency | lower ~ '.svg' %}
          <td class="align-middle">
            <img
              src="/static/cryptocurrency-icons-master/svg/color/{{image}}"
              onerror="this.onerror=null;this.src='/static/cryptocurrency-icons-master/svg/color/generic.svg';"
              alt="{{account.currency}}"
              class="currency-icon mr-2"
            />
          </td>
          <td class="align-middle">
            <span>{{account.currency}}</span>
          </td>
          <td class="align-middle">
            {{"{:,.2f}".format(account.balance_native | float | round(2))}}
          </td>
          <td class="align-middle">
            {{"${:,.2f}".format(account.balance_usd) }}
          </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
    <div id="pie-chart-total-balance">
      Total Balance USD: {{"${:,.2f}".format(total_balance)}}
    </div>
  </div>
</div>
{% endblock %}
