{% extends 'base.html' %} {% block content %}
<div class="row justify-content-md-center">
  <div class="col-md-7 col-lg-5">
    <h2 class="join-message mb-3">
      Set your desired allocations and rebalance your portfolio
    </h2>
    <form method="POST" id="allocations-form">
      <div class="allocations">
        {{ form.hidden_tag() }}<br />
        <div>
          <table>
            <tr>
              <th>Asset</th>
              <th>Percentage of Portfolio</th>
            </tr>
            {% for allocation in form.portfolio %}
            <tr>
              <td>{{ allocation.currency }}</td>
              <td>{{ allocation.percentage }}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>

      <button class="btn btn-primary btn-lg btn-block">
        Rebalance
      </button>
    </form>
  </div>
</div>
{% endblock %}
