{% extends 'base.html' %} {% block content %}

<div class="row justify-content-md-center">
  <div class="rebalance-wrapper">
    <div class="form-wrapper">
      <form method="POST" id="rebalance-form">
        <table class="table table-hover mt-3">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Asset</th>
              <th scope="col">% Actual</th>
              <th scope="col">% Target</th>
              <th scope="col">+/-</th>
            </tr>
          </thead>
          <tbody>
            {{ form.hidden_tag() }} {% for asset in form.portfolio if
            asset.widget.input_type != 'hidden' %} {{asset.hidden_tag()}}
            <tr class="rebalance-table-row" id="{{asset.currency.data}}">
              <td class="align-middle">
                <img
                  src="/static/cryptocurrency-icons-master/svg/color/{{asset.currency.data| lower}}.svg"
                  alt="{{asset.currency.data}}"
                  class="currency-icon mr-2"
                />
              </td>
              <td class="align-middle">
                <span>{{asset.currency.data}}</span>
              </td>
              <td class="align-middle">
                {{ asset.percentage.data | round(0) | int }}
              </td>
              <td class="td-input align-middle">
                {{ asset.percentage(class="form-control form-control-sm
                text-center portfolio-pct-input") }}
              </td>
              <td class="align-middle">
                <span><i class="fas fa-caret-up"></i></span>
                <span><i class="fas fa-caret-down"></i></span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div id="portfolio-pct-total"></div>
        <button class="btn btn-primary btn-lg btn-block" id="rebalance-submit">
          Rebalance
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
