{% extends 'base.html' %} {% block content %}
<div class="row justify-content-md-center">
  <div class="rebalance-wrapper">
    <div class="form-wrapper">
      <form method="POST" id="rebalance-form">
        <table class="table table-hover mt-3">
          <thead class="thead-light">
            <tr>
              <th scope="col">Asset</th>
              <th scope="col">% Actual</th>
              <th scope="col">% Target</th>
            </tr>
          </thead>
          <tbody>
            {{ form.hidden_tag() }} {% for asset in form.portfolio if
            asset.widget.input_type != 'hidden' %} {{asset.hidden_tag()}}
            <tr class="rebalance-table-row" id="{{asset.currency.data}}">
              <td>
                <img
                  src="/static/cryptocurrency-icons-master/svg/color/{{asset.currency.data| lower}}.svg"
                  alt="{{asset.currency.data}}"
                  class="currency-icon mr-2"
                />
                <span>{{asset.currency.data}}</span>
              </td>
              <td>
                {{ asset.percentage.data | int }}
              </td>
              <td>
                {{ asset.percentage(class="form-control") }}
              </td>
              <td>
                <span><i class="fas fa-caret-up"></i></span>
                <span><i class="fas fa-caret-down"></i></span>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <button class="btn btn-primary btn-lg" id="rebalance-submit">
          Rebalance
        </button>
      </form>
      <p>
        {{res}}
      </p>
    </div>
  </div>
</div>
{% endblock %}
